/* Default colors of all controls in the application */

* {
    app-navy: #0F2C57;
    app-yellow: #EDBF54;
    app-red: #EC1010;
    app-black: #1E1E1E;
    app-blue: #2B65AC;
    app-grey: #E9E9E9;

    app-navy-1: rgba(15, 44, 87, .1);
    app-navy-2: rgba(15, 44, 87, .2);
}

