/* Default styling for specific controls */
@import "Colors.css";


/* Applies to all text */
.mfx-combo-box,
.mfx-date-picker,
.mfx-text-field,
.button .text,
.label .text,
.text-area {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 24px;
}

/* Sizing all input fields except for text area */
.mfx-combo-box,
.mfx-date-picker,
.mfx-text-field {
    -fx-min-width: 250px;
    -fx-min-height: 60px;
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;
    -fx-max-width: 250px;
    -fx-max-height: 60px;
}

.mfx-combo-box-cell .label .text {
    -fx-font-size: 12px;
}

/* The blue-button style class is automatically assigned when a button's fx-id is set to one of the below options */
#selectButton,
#cancelButton,
#submitButton,
#clearButton,
.blue-button {
    -fx-background-radius: 10px !important;

    -fx-min-width: 150px;
    -fx-min-height: 50px;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-max-width: 150px;
    -fx-max-height: 50px;
}