/* Default styling for all nodes

How to apply this to a page:
- Open the page in SceneBuilder
- Click on the root node (top of the hierarchy)
- Go to Properties -> JavaFX CSS -> Stylesheets
- Find DefaultControls.css and save in SceneBuilder

Once the stylesheet is applied to the root node, it will cascade down to all nodes on the page
 */
@import "defaults/Defaults.css";


/* Defined class to create a section with a white background*/
.section {
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

.h1,
.h1.label .text {
    -fx-font-size: 64px;
}

.h2,
.h2.label .text {
    -fx-font-size: 32px;
}

.sub,
.sub.label .text {
    -fx-font-size: 16px;
}